{% extends 'base.html' %}
{% block headDisplay %}
  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
  <div class="container text-center text-md-left" data-aos="fade-up">
    <h1>Welcome to <span>Grace Mart</span></h1> <br>
    <h2> Your one stop e-market</h2>
    <a href="#" class="btn-get-started scrollto">Go to shop</a>
      
  </div>
</section><!-- End Hero -->

{% endblock %}

{% block main %}
  <!-- ======= What We Do Section ======= -->
  <section id="what-we-do" class="what-we-do">
    <div class="container">

      <div class="section-title">
        <h2>Some categories of our products</h2>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-earbuds"></i></div>
            <h4>Best market earbuds</h4>
            <p>Go through our all in stock qaulity earbuds</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-laptop"></i></div>
            <h4><a href="">High preformance laptops</a></h4>
            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-basket-fill"></i></div>
            <h4><a href="">Groceries</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-watch"></i></div>
            <h4><a href="">Watches</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4><a href="">Sport gears</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-house"></i></div>
            <h4><a href="">Home applianceies</a></h4>
            <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
          </div>
        </div>
      </div>
    </div>
    <div class="section-title">
      <h2><a href="{% url 'base:productPage' %}">Go to our products page</a></h2>
      <p>qaulity products of all categories</p>
    </div>

  </section><!-- End What We Do Section -->

   <!-- ======= Testimonials Section ======= -->
 
{% endblock %}


